<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
			<h5><a href="http://CodyandNick.com">CodyandNick.com</a> - Travel blog my girlfriend and I use to track our adventures.</h5>

			<h5><a href="http://SeriousBears.net">SeriousBears.net</a> - Internet Radio Station that serves as an outlet for my friends and I to DJ on. We also host local parties in Austin that raise money for charity. Our first fundraising event was in April, 2017 and raised $500 for the NRDC.</h5>

			<h5><a href="http://VitoBurrito.net">VitoBurrito.net</a> - Web comic about the misadventures of our dog Vito.
			</h5>
    </div>
  </div>
</div>
</section>
